<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>outLinew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>508080661F53DC3C005E9CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5080807C1F53DC3C005E9CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508080871F53DC3C005E9CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
